{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-4 my-5">
                <div class="card text-center">
                    <div class="content my-3">
                        <div class="title mt-3">
                            <img src="{% static 'img/title.png' %}" alt="instagram" height="50">
                        </div>
                        <form class="px-5 py-4" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="username" placeholder="Username">
                            <input class="form-control my-3" type="password" name="password" placeholder="Password">
                            <input class="form-control btn btn-primary" type="submit" value="Log in">
                        </form>

                        <small>Don't have an account? <a href="{% url 'register' %}">Sign up</a></small>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}