{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}
        <main class="container">
            <div class="row justify-content-center">
                <div class="col-4 my-5">
                    <div class="card text-center">
                        <div class="content my-3">
                            <div class="title mt-3">
                                <h1>Instagram</h1>
                            </div>
                            <form class="px-5 py-4" action="{% url 'register' %}" method="post">
                                {% csrf_token %}
{#                                <input class="form-control" type="email" name="email" placeholder="Email">#}
                                <input class="form-control my-3" type="text" name="username" placeholder="Username">
                                <input class="form-control" type="password" name="password1" placeholder="Password">
                                <input class="form-control my-3 mb-5" type="password" name="password2" placeholder="Confirm Password">
                                <input class="form-control btn btn-primary" type="submit" value="Sign up">
                            </form>

                            <small>Have an account? <a href="{% url 'login' %}">Log in</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}


</body>
</html>