
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


ul .nav-link{
    font-size: 1.7rem;
}

.card .header{
    position: relative;
    font-size: 1.3rem;
}

.card .header span{
    font-size: 1.4rem;
}

.card .icons{
    font-size: 1.5rem;
}