{% load static %}


        <!--header-->
        <header class="navbar navbar-expand navbar-dark bg-dark">
            <nav class="navbar-nav container">
                <!--brand-->
                <a href="" class="navbar-brand">Instagram</a>
                <!--search box-->
                <div class="search-box mx-auto">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </div>
                <!--menu-->
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a href="" class="nav-link"><span class="fas fa-home "></span></a></span>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><span class="far fa-paper-plane"></span></a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><span class="far fa-compass"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><span class="far fa-heart"></span></a>
                    </li>
                </ul>
                <!--profile pic-->
                <div class="profile">
                    {% if request.user.is_active %}
                        <a href="">
                            <img src="{% static 'user/images/user.png' %}" alt="profile" class="rounded-circle bg-white" width="50">
                        </a>
                    {% endif %}

                </div>
            </nav>
        </header>